name: Typo checker
on:
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v3

    - name: Check spelling of the entire repository
      uses: crate-ci/typos@v1.33.1
